<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testAutoLayoutCreateAndMount()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.22402</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testAutoLayoutCreation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.05593</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testAutoLayoutMount()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.015685</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testAutoLayoutUpdate()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.089441</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testCreateAndMount()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.20455</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testCreateRichTextNodes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00034951</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 18:27:30</string>
				</dict>
			</dict>
			<key>testCreateTextNodes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00032553</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 18:27:30</string>
				</dict>
			</dict>
			<key>testCreation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0062454</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testMount()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.14814</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testParseAndLoadAndMount()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25655</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testParseAndLoadXML()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0076033</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testParseXML()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0085139</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testUpdate()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.069086</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testUpdateRichTextNodes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0069999</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
			<key>testUpdateTextNodes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0039962</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 May 2018 at 19:09:55</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
